body {
    background-color: red;
}

main {
    background-color: white;
    max-width: 300px;

}

.fundo img {
    width: 100%;
    height: 100%;
   
    border-radius: 50%;
}

.sem-fundo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}