@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: justify;
}
body {
    background-image: linear-gradient(to right, #F0DBB4, #F0E6D3);

}
main {
    background-color: white;
    width: 800px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #9c968a;
}
h1 {
    color: #c96202 ;
    text-align: center;
    text-shadow: 1px 1px 2px #662e00 ;
}
h2 {
    color: #0367A6;
}